/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.box {
    border: 1px solid var(--background-modifier-border);
    padding: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--radius-m);
    max-width: 600px;
    background-color: var(--background-primary-alt)
}

.author {
    color: var(--text-muted);
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transdform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.bg {
    display: flex;
    justify-content: center;
    width: 100%;
}

.error {
    color: var(--color-red);
    background-color: rgba(var(--color-red-rgb), 0.2);
    padding: 1rem;
    max-width: 600px;
    border-radius: var(--radius-m);
}